# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next
/out

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env.local

# IDEs
.idea
.vscode/*
!/.vscode/settings.json

# Android
/android
local.properties
.gradle
/captures
.DS_Store
/build
/app/build
*.iml
